/* common shared style */
body {
    font-family: 'Open Sans', sans-serif;
}

.pri-color {
    color: #FD6E0A;
}

.pri-button {
    border-radius: 5px;
    background: #FD6E0A;
    padding: 15px 35px;
    border: 0;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 51px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related style */

.header {
    background-color: #FFF8F3;
}

.banner {
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.pro-pic {
    width: 500px;
    height: 600px;
}